<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">kexjw</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <form class="navbar-form navbar-left ">
      <div class="form-group col-lg-12 ">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2"> <span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" aria-describedby="sizing-addon2" placeholder="Search">
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-th"></span> </a></li>
      <li><a href="#"><span class="glyphicon glyphicon-bell"></span> <span class="badge "> </span> </a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Max Muster</a></li>
    </ul>

  </div>
</nav>
