
<mat-card class="activity-item-card" >
    <mat-card-header>
      <mat-card-title><span class="mat-display-1">{{item.summary}}</span></mat-card-title>
      <mat-card-subtitle>{{item.actvityfrom | date:'fullDate'}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/activity','detail',item.activityid]">SHOW</a>
      <a mat-button (click)="deleteActivty()">DELETE</a>
    </mat-card-actions>

  </mat-card>

