<div class="panel panel-default">
  <div class="panel-heading">

    <div class="row ">


      <div class="col-md-1 pull-right">

        <div class="btn-group" appDropdown>
          <a
            class=" btn dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            <span class="glyphicon glyphicon-option-vertical"></span>
          </a>
          <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</a></li>
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-trash"></span> Löschen</a></li>
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-duplicate"></span> Dupplizieren</a>
            </li>
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-text-size"></span> Subaktivität
              erstellen</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-eye-open"></span> Freigeben</a></li>
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-download-alt"></span> Exportieren</a>
            </li>
          </ul>
        </div>
      </div>

      <a routerLink="/activity/detail">
        <div class="col-md-5">
            <p> {{item.title}}</p>
            <span class="glyphicon glyphicon-time"></span>
            {{item.fromDay | date: "dd.MM.yy"}} 19:00 - <span *ngIf="!item.isSameDate()"> {{item.toDay| date:"dd.MM.yy"}} </span> 20:00
        </div>

      </a>
      <div class="col-md-3 text-right">
        <span class="label label-primary" *ngFor="let label of item.label">{{label}}</span>

      </div>
      <div class="col-md-3 text-right">
        <b><span class="glyphicon glyphicon-user"></span>{{ personInCharge.callname}}
          {{personInCharge.name}} </b>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div [innerHTML]="item.desc"></div>

    <app-activity-conflict-list [conflicts]="item.conflicts"></app-activity-conflict-list>
    <app-activity-item *ngFor="let item of item.child_activities" [item]="item "></app-activity-item>

  </div>






</div>
