.panel {
  margin-bottom: 5px;
  border-bottom-color: transparent;

  margin-left: 3px;
}
.panel-body{
  padding-right: 0px;
  border-bottom-color: transparent;
  border-bottom-color: transparent;

}

.panel-default{
  border-bottom-color: transparent;
  border-right-color: transparent;

  -webkit-box-shadow: none ;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-heading {
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
}
