<nav class="navbar-default navbar-static-side" role="navigation">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="navbar-header">Aktivitäte</li>
    <li role="presentation"><span class="glyphicon glyphicon-inbox"></span> Meine Aktivitäten</li>
    <li role="presentation"><span class="glyphicon glyphicon-folder-close"></span> Archiviert</li>
    <li role="presentation"><span class="glyphicon glyphicon-wrench"></span> Erstellt von mir</li>
    <li role="presentation"><span class="glyphicon glyphicon-warning-sign"></span> Konflikte <span
      class="badge">5</span></li>
    <li role="presentation"><span class="glyphicon glyphicon-save"></span> Exportieren</li>
    <hr>
    <li role="presentation"><span class="glyphicon glyphicon-record"></span> VSE - St. Gallen English</li>
    <li role="presentation"><span class="glyphicon glyphicon-record"></span> VSD - St. Gallen Ost</li>
    <hr>
    <li role="presentation"><span class="glyphicon glyphicon-tag"></span> Anlagendienst</li>
    <li role="presentation"><span class="glyphicon glyphicon-tag"></span> Anlagendienst</li>
    <li role="presentation"><span class="glyphicon glyphicon-tag"></span> Anlagendienst</li>
    <hr>
  </ul>
</nav>
