<mat-expansion-panel hideToggle="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{item.name}} {{item.surname}}
    </mat-panel-title>
    <mat-panel-description>
      {{item.shortname}}
    </mat-panel-description>
  </mat-expansion-panel-header>
 <mat-icon>person</mat-icon>


  <mat-action-row>
    <button mat-button [routerLink]="['/person','detail', item.personid]"> MORE</button>
    <button mat-button [routerLink]="['/person','edit', item.personid]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button (click)="deletePerson()">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-action-row>
</mat-expansion-panel>
