<form [formGroup]="activityForm">

  <mat-toolbar>

    <button mat-button type="button" (click)="cancel()">
      <mat-icon>close</mat-icon>
    </button>
    <span class="example-spacer"></span>

    <button mat-button type="button" *ngIf="editing" (click)="update()"
            [disabled]="!activityForm.valid">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-raised-button type="button" color="primary" *ngIf="!editing" (click)="create()"
            [disabled]="!activityForm.valid"> Save
    </button>
    <button mat-icon-button type="button" [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item (click)="deleteActivty()">
      Löschen
    </button>
  </mat-menu>


  <div fxLayout style="margin: 20px;" fxLayout.xs="column">
    <div fxFlex.lt-md="20%" fxFlex.md-xs="33%" class="one">

    </div>
    <div fxFlex="66%" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex>
              <input matInput type="text"
                     formControlName="title" placeholder="Summary" required>
              <mat-error *ngIf="activityForm.get('title').hasError('required')">
                Please enter a valid summary
              </mat-error>
            </mat-form-field>

          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field>
                <input matInput formControlName="fromDate" [matDatepicker]="picker1" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field *ngIf="!_allDay">
                <input matInput type="time" formControlName="fromTime">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field>
                <input matInput formControlName="toDate" [matDatepicker]="picker2" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-form-field *ngIf="!_allDay">
                <input type="time" matInput formControlName="toTime">
              </mat-form-field>
            </div>
            <div>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-checkbox formControlName="allDay" (click)="toggleValue()"> All day</mat-checkbox>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <br>
            <mat-divider fxFlex></mat-divider>
            <br>
          </div>

          <div >
            <div fxLayout="row" fxLayoutGap="20px">
              <h3 class="subheading-2">Assign</h3>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" *ngFor="let item of assign_array">

              <app-activity-assign [item]="item" (deleted)="refresh()"></app-activity-assign>


            </div>
            <div fxLayout="row" fxLayoutGap="20px">

              <span class="example-spacer"></span>
              <button mat-mini-fab color="primary" (click)="addAssign()" fxflexalign.gt-lg="right">+</button>

            </div>
          </div>
          <div>
            <div fxLayout="row" fxLayoutGap="20px">
              <br>
              <mat-divider fxFlex></mat-divider>
              <br>
            </div>
          </div>

          <div>
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-icon>blur_circular</mat-icon>
              <mat-form-field fxFlex>
                <input matInput
                       type="number"
                       placeholder="Typ"
                       formControlName="activitytype">
              </mat-form-field>
            </div>
          </div>

          <div>
            <div fxLayout="row" fxLayoutGap="20px">

              <mat-icon>place</mat-icon>
              <mat-form-field fxFlex>

      <textarea matInput
                matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="5"
                placeholder="Location"
                formControlName="place">

      </textarea>
              </mat-form-field>
            </div>
          </div>
          <div>
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-icon>donut_large</mat-icon>

              <mat-form-field fxFlex>
                <mat-select formControlName="space" placeholder="Select an option" required>
                  <mat-option *ngFor="let space of select_spaces" [value]="space.id">
                    {{space.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div>
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-icon>bookmark</mat-icon>
              <mat-form-field fxFlex>
                <mat-select formControlName="status" placeholder="Select an option" required>
                  <mat-option *ngFor="let status of select_status " [value]="status.statusid">
                    {{status.statustext}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div>
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-icon>link</mat-icon>

              <mat-form-field fxFlex>
                <input
                  matInput
                  type="text"
                  placeholder="Abhängig zu"
                  formControlName="parent"
                >
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

            <div fxLayout="row" fxLayoutGap="20px">
              <mat-icon>subject</mat-icon>

              <mat-form-field fxFlex>
      <textarea matInput
                matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="10"
                placeholder="Add description"
                formControlName="desc"></textarea>
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.lt-md="10%"></div>

  </div>
</form>
