<form class="form-horizontal" [formGroup]="activityForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <div class="pull-left col-sm-2 ">
      <div class="btn-group " appDropdown>
        <button type="button" class="btn btn-block dropdown-toggle" (click)="cancel()">
          Abbrechen
        </button>
      </div>
    </div>

    <div class="pull-right col-sm-6 ">
      <div class="col-sm-12">
        <button type="submit"
                class="btn btn-success"
                [disabled]="!activityForm.valid">Speichern
        </button>
        <button type="submit" class="btn btn-danger">Löschen</button>
        <div class="btn-group " appDropdown>
          <button class="btn btn-default dropdown-toggle ">
            Actions
          </button>
          <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-duplicate"></span> Dupplizieren</a>
            </li>
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-text-size"></span> Subaktivität
              erstellen</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-eye-open"></span> Freigeben</a></li>
            <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-download-alt"></span> Exportieren</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">

    <!-- if using [ngModel] a default could be provided by binding it to Property (Thats called Propertybinding and not two-way binding-->

    <label class="control-label col-sm-2">Titel</label>
    <div class="col-sm-10">
      <input type="text"
             class="form-control"
             formControlName="title"
      >
      <span class="help-block" *ngIf="!activityForm.get('title').valid && activityForm.get('title').touched">Please enter a title ! </span>
    </div>

  </div>
  <div class="form-group">
    <!-- Time -->
    <label class="control-label col-sm-2">von </label>
    <div class="col-sm-3">
      <input type="date"
             class="form-control"
             formControlName="fromDate"
      >
    </div>
    <div class="col-sm-2">
      <input type="time"
             class="form-control"
             formControlName="fromTime"
      >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2"> bis </label>
    <div class="col-sm-3">
      <input type="date"
             class="form-control"
             formControlName="toDate">
    </div>
    <div class="col-sm-2">
      <input type="time"
             class="form-control"
             formControlName="toTime">
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            formControlName="allDay"
          > All Day Event
        </label>
      </div>
    </div>


    <label class="control-label col-sm-2">Aktivitätstyp</label>
    <div class="col-sm-10">
      <div class="input-group  ">
        <input
          type="text"
          class="form-control"
          placeholder="kein"
          formControlName="activitytype"
        >
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
      </div>
    </div>

  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Beschreibung</label>
    <div class="col-sm-10">
      <textarea
        rows="5"
        class="form-control "
        placeholder="Beschreibung"
        formControlName="desc"></textarea>
    </div>

    <label class="control-label col-sm-2"><span class="glyphicon glyphicon-map-marker"></span> </label>
    <div class="col-sm-10">
      <textarea
        rows="3"
        class="form-control"
        formControlName="place"></textarea>
      <a *ngIf="activityForm.get('place').valid " target="_blank"
         href="https://www.google.ch/maps/place/{{activityForm.get('place').value}}"> Find your
        place here </a>
    </div>
  </div>
  <div class="form-group">
    <h4 class="col-lg-12 text-uppercase"> Personen</h4>

    <label class="control-label col-sm-2">Verantworlich</label>
    <div class="col-sm-10">
      <div class="input-group  ">
        <input
          readonly
          type="text"
          class="form-control"
          placeholder="Person"
          formControlName="incharge"
        >
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
      </div>
    </div>

    <label class="control-label col-sm-2">Helfer</label>
    <div class="col-sm-10">
      <div class="panel panel-default ">
        <div class="input-group">
          <div class="panel-body  ">

            <div formArrayName="helpers">

            <span *ngFor="let helper of getHelpers.controls; let i = index">
              <span class="label label-primary" style="display:inline-block">
                  <span class="glyphicon glyphicon-trash" (click)="deletePerson(i)"></span> {{personsrv.persons[i].callname}} {{personsrv.persons[i].name}}
              </span>
            </span>
            </div>

          </div>
          <span class="input-group-addon" (click)="toggleSearchField('helper')"><span
            class="glyphicon glyphicon-search"></span> </span>
        </div>

        <div [hidden]="!activityForm.get('sf_helper').value" class=" panel-footer">

          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
            <input type="text" class="form-control" placeholder="Search for...">
          </div><!-- /input-group -->

          <div *ngFor="let helper of getHelpers.controls; let i=index">

            <input type="checkbox" [formControl]="helper"/> {{personsrv.persons[i].callname}}
            {{personsrv.persons[i].name}}
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="form-group">
    <h4 class="col-lg-12 text-uppercase"> Details</h4>

    <label class="control-label col-sm-2">Space</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="col-sm-8 form-control"
        placeholder="-1"
        formControlName="space"
      >
    </div>
    <label class="control-label col-sm-2">Status</label>
    <div class="col-sm-10">
      <input type="text"
             readonly
             class="col-sm-8 form-control"
             formControlName="status"
             placeholder="o"
      >
    </div>

    <label class="control-label col-sm-2">Abhängig zu</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input
          readonly
          type="text"
          class="form-control"
          placeholder="kein"
          formControlName="linked"
        >
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
      </div>

    </div>


    <label class="control-label col-sm-2">Labels</label>
    <div class="col-sm-10">
      <div class="panel panel-default input-group">
        <div class="panel-body ">

          <div formArrayName="labels">

            <span *ngFor="let labelControl of getLabels.controls; let i = index">
              <span class="label label-primary" style="display:inline-block">
                  <span class="glyphicon glyphicon-trash" (click)="deleteLabel(i)"></span> {{labelsrv.labels[i].name}}
              </span>
            </span>
          </div>

        </div>
        <span class="input-group-addon" (click)="toggleSearchField('labels')"><span
          class="glyphicon glyphicon-search"></span> </span>
      </div>


    </div>

    <div [hidden]="!activityForm.get('sf_labels').value" class="col-sm-10">

      <div class="panel panel-default">
        Suggestions
        <div *ngFor="let label of getLabels.controls; let i=index">

          <input type="checkbox" [formControl]="label"/> {{labelsrv.labels[i].name}}
        </div>

      </div>
    </div>
  </div>


</form>
