<form class="form-horizontal" action="/action_page.php">

  <div class="form-group ">
    <div class="pull-right">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-success">Speichern</button>
        <button type="submit" class="btn btn-danger">Löschen</button>
        <button type="submit" class="btn btn-default">Actions</button>
      </div>
    </div>
  </div>
  <div class="form-group">

    <label class="control-label col-sm-2" for="title">Titel</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" placeholder="Titel">
    </div>

  </div>
  <div class="form-group">
    <!-- Time -->
    <label class="control-label col-sm-2" for="date-from">von </label>
    <div class="col-sm-3">
      <input type="date" class="form-control" id="date-from">
    </div>
    <div class="col-sm-2">
      <input type="time" class="form-control" id="date-time-from">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="date-to"> bis </label>
    <div class="col-sm-3">
      <input type="date" class="form-control" id="date-to">
    </div>
    <div class="col-sm-2">
      <input type="time" class="form-control" id="date-time-to">
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> All Day Event</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="desc">Beschreibung</label>
    <div class="col-sm-10">
      <textarea rows="5" class="form-control " id="desc" placeholder="Beschreibung"></textarea>
    </div>

    <label class="control-label col-sm-2" for="pwd"><span class="glyphicon glyphicon-map-marker"></span> </label>
    <div class="col-sm-10">
      <textarea rows="3" class="form-control" id="pwd" placeholder="Ort"></textarea>
    </div>

    <div class="form-group">
      <h4 class="col-lg-12 text-uppercase"> Personen</h4>

      <label class="control-label col-sm-2" for="incharge">Verantworlich</label>
      <div class="col-sm-10">
        <div class="input-group  ">
          <input type="text" class="form-control" id="incharge" placeholder="Person" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon4"><span class="glyphicon glyphicon-search"></span> </span>
        </div>
      </div>

      <label class="control-label col-sm-2" for="helper">Helfer</label>
      <div class="col-sm-10">
        <div class="panel panel-default input-group">
          <div class="panel-body " id="helper">
            <span class="label label-primary">
              Denis Bittante &nbsp;
            <span class="glyphicon glyphicon-trash"></span>
            </span>
          </div>
          <span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-search"></span> </span>
        </div>
      </div>
    </div>


    <div class="form-group">
      <h4 class="col-lg-12 text-uppercase"> Details</h4>

      <label class="control-label col-sm-2" for="space">Space</label>
      <div class="col-sm-10">
        <label rows="5" class="col-sm-8 form-control" id="space"> Here A Space </label>
      </div>
      <label class="control-label col-sm-2" for="status">Status</label>
      <div class="col-sm-10">
        <label rows="5" class="col-sm-8 form-control" id="status"> offen </label>
      </div>

      <label class="control-label col-sm-2" for="linked">Abhängig zu</label>
      <div class="col-sm-10">
        <label rows="5" class="col-sm-8 form-control" id="linked"> (12.02.2019 15:00)- Habakuk bla bla ... </label>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span> </span>
        </div>

      </div>


      <label class="control-label col-sm-2" for="label">Labels</label>
      <div class="col-sm-10">
        <div class="panel panel-default input-group">
          <div class="panel-body " id="label">
            <span class="label label-primary">
              Denis Bittante &nbsp;
            <span class="glyphicon glyphicon-trash"></span>
            </span>&nbsp;
            <span class="label label-primary">
              Denis Bittante &nbsp;
            <span class="glyphicon glyphicon-trash"></span>
            </span>&nbsp;

          </div>
          <span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-search"></span> </span>
        </div>
      </div>

    </div>

  </div>
</form>
