<mat-toolbar class="mat-caption">
  <br>
  <span class="example-spacer"></span>
  <mat-icon>search</mat-icon>
  <mat-form-field>
    <input matInput type="text" placeholder="Search">
  </mat-form-field>
</mat-toolbar>
<br>

<div fxLayout fxLayout.xs="column">
  <div fxFlex.lt-md="10%" fxFlex.md-xs="33%">
  </div>
  <div fxFlex="66%" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

    <div fxLayout fxLayout="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="start stretch">

      <mat-accordion class="example-headers-align">
        <app-person-item *ngFor="let item of personlist" [item]="item " (onRefresh)="refresh()"></app-person-item>
      </mat-accordion>
    </div>

  </div>
  <div fxFlex></div>

</div>
<span class="done">
  <button mat-fab [routerLink]="['/person','new']">
    <mat-icon>add circle</mat-icon>
  </button>
</span>
