<div class="alert alert-info" role="alert">
  <a href="#" class="alert-link">...</a>
</div>
<div class="alert alert-warning" role="alert">
  <a href="#" class="alert-link">...</a>
</div>

<div class="alert alert-danger " role="alert">
  Diese Aktivität überlappt sich ganz oder teilweise mit
  <a href="#" class="alert-link">Anderes Ding</a> und <a href="#" class="alert-link">Anderes Ding</a><br><br>

    <input type="button" class="btn btn-danger " value="Konflikt ignorieren">
    <input type="button" class="btn btn-danger " value="Aktivität bearbeiten">
</div>
