<nav class="navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav nav-stacked">
      <div class="btn-group " appDropdown>
        <a routerLink="/activity/edit" class="btn btn-success dropdown-toggle ">
          <span class="glyphicon glyphicon-plus-sign"></span>
          Aktivität erstellen
        </a>
        <button type="button" class="btn btn-success dropdown-toggle "  data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu ">
          <li><a href="#">Massenerstellung</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Third App erstellung</a></li>
        </ul>
      </div>

      <li role="presentation"><a routerLink="/"><span class="glyphicon glyphicon-time"></span> Aktivitäten</a></li>
      <li role="presentation"><a routerLink="/"><span class="glyphicon glyphicon-inbox"></span> Meine Aktivitäten</a>
      </li>
      <li role="presentation"><a routerLink="/"><span class="glyphicon glyphicon-folder-close"></span> Archiviert</a>
      </li>
      <li role="presentation"><a routerLink="/"><span class="glyphicon glyphicon-wrench"></span> Von mir erstellt </a>
      </li>
      <li role="presentation"><a routerLink="/"><span class="glyphicon glyphicon-warning-sign"></span> Konflikte <span
        class="badge">5</span></a></li>
      <li role="presentation"><a href="#"><span class="glyphicon glyphicon-save"></span> Exportieren</a></li>
      <hr>


      <div class="checkbox navbar-btn">
        <label class="navbar-link" for="filterUnfulfilled">
          <input type="checkbox" class="autosubmit" id="filterUnfulfilled" value="true">
          <span class="glyphicon glyphicon-record"></span> VSE - St. Gallen English
        </label>
      </div>

      <div class="checkbox navbar-btn">
        <label class="navbar-link" for="filterUnfulfilled">
          <input type="checkbox" class="autosubmit" id="filterUnfulfilled" value="true">
          <span class="glyphicon glyphicon-record"></span> VSD - St. Gallen Ost
        </label>
      </div>
      <hr>


      <div class="checkbox navbar-btn">
        <label class="navbar-link" for="filterUnfulfilled">
          <input type="checkbox" class="autosubmit" id="filterUnfulfilled" value="true">
          <span class="glyphicon glyphicon-tag"></span> Anlagendienst
        </label>
      </div>

      <div class="checkbox navbar-btn">
        <label class="navbar-link" for="filterUnfulfilled">
          <input type="checkbox" class="autosubmit" id="filterUnfulfilled" value="true">
          <span class="glyphicon glyphicon-tag"></span> Something else
        </label>
      </div>
    </ul>
  </div>
</nav>
