<div class="panel panel-default">
  <div class="panel-heading">

    <div class="row">


      <div class="col-md-1 pull-right">
        <span class="glyphicon glyphicon-menu-down"></span>
        <span class="glyphicon glyphicon-option-vertical"></span>
      </div>

      <div class="col-md-2">
        <span class="glyphicon glyphicon-time"></span> 12.04.2018 19:00 - 12.04.2018 20:00
      </div>
      <div class="col-md-4">
        <h4 class="text-capitalize text-primary"> Namum 1 bis Habakuk</h4>
      </div>


      <div class="col-md-3 text-right">
        <span class="label label-primary">Anlagendienst</span>
        <span class="label label-primary">Something else</span>
        <span class="label label-primary">Something else</span>
        <span class="label label-primary">Something else</span>
      </div>
      <div class="col-md-2 text-right">
        <b><span class="glyphicon glyphicon-user"></span> Max Muster </b>
      </div>
    </div>
  </div>

  <div class="panel-body" >
    Irendwelche infos zur Aktivität


    <app-activty-conflict-list></app-activty-conflict-list>


    <!-- List group -->
    <div class="panel panel-default">
      <div class="panel-heading"><span class="text-capitalize">
      Namum 1 bis Habakuk</span>
        <ul class="list-group ">
          <li class="list-group-item ">Part 1</li>
          <li class="list-group-item ">Part 1</li>
        </ul>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Part 1</li>
      <li class="list-group-item">Part 2</li>

    </ul>
  </div>
  <div class="panel-footer"> <i> Erstellt am : 22:01.2017 13:00 von Denis Bittante</i></div>

