<div fxLayout fxLayout.xs="column" *ngIf="item!=undefined">
  <div fxFlex.lt-md="10%" fxFlex.md-xs="33%">
  </div>
  <div fxFlex="66%" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

    <div fxLayout fxLayout="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="space-around stretch">


      <mat-card>
        <mat-card-header>

          <mat-card-title><span class="mat-display-1">{{item.summary}}</span></mat-card-title>
          <mat-card-subtitle>{{item.description}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon>access_time</mat-icon>
              <h3 matLine *ngIf="item.isallday">{{item.actvityfrom | date:'longDate'}} - {{item.activityto|
                date:'longDate'}}</h3>
              <h3 matLine *ngIf="!item.isallday">{{item.actvityfrom| date:'shortDate' }} {{item.actvityfrom|
                date:'shortTime' }} - {{item.activityto| date:'shortDate'}} {{item.activityto| date:'shortTime'}}</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>place</mat-icon>
              <h3 matLine>{{item.place}}</h3>
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <mat-list-item>
              Song 55 and Prayer
            </mat-list-item>
            <mat-list-item>
              Opening Comments (3 min. or less)
            </mat-list-item>
            <mat-list-item>
              <h3>TREASURES FROM GOD’S WORD</h3>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line><b>“Avoid Becoming Ensnared by Fear of Man”: </b>(10 min.)</h4>
              <p mat-line>
                Mr 14:29, 31​—The apostles did not intend to disown Jesus</p>
              <p mat-line> Mr 14:50​—When Jesus was arrested, all the apostles abandoned him and fled</p>
              <p mat-line> Mr 14:47, 54, 66-72​—Peter had the courage to defend Jesus and follow him at a distance but
                later denied
                Jesus three times (ia 200 ¶14; it-2 619 ¶6)</p>
            </mat-list-item>
            <mat-list-item>
              Digging for Spiritual Gems: (8 min.)
            </mat-list-item>
            <mat-list-item>
              Bible Reading: (4 min. or less) Mr 14:43-59
            </mat-list-item>
            <mat-list-item style="background-color: #961526; color:white">
              <h3>APPLY YOURSELF TO THE FIELD MINISTRY</h3>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line> Second Return Visit: (3 min. or less) Begin with the sample conversation. Invite the person
                to the meeting.</h4>
            </mat-list-item>
            <mat-list-item>
              Third Return Visit: (3 min. or less) Choose your own scripture. Offer a study publication.
            </mat-list-item>
            <mat-list-item>
              <h3>LIVING AS CHRISTIANS</h3>
            </mat-list-item>
            <mat-list-item>
              Song 73
            </mat-list-item>
            <mat-list-item>
              “Jehovah Will Help You Be Bold”: (15 min.) Discussion. Play the video.
            </mat-list-item>
            <mat-list-item>
              Congregation Bible Study: (30 min.) jy chap. 22
            </mat-list-item>
            <mat-list-item>
              Review Followed by Preview of Next Week (3 min.)
            </mat-list-item>
            <mat-list-item>
              Song 81 and Prayer
            </mat-list-item>
          </mat-nav-list>


        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button [routerLink]="['/activity','edit', item.activityid]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button mat-button (click)="deleteActivty()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>


    </div>

  </div>
  <div fxFlex></div>

</div>

