<div class="row">
  <div class="col-lg-3">
    <app-calendar-nav></app-calendar-nav>
  </div>
  <div class="col-lg-9">


    <div class="row">
      <div class="col-lg-12">
        <form class="navbar-form navbar-right  ">
          <div class="form-group ">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"> <span
                  class="glyphicon glyphicon-search"></span></span>
              <input type="text" class="form-control " aria-describedby="sizing-addon2" placeholder="Search">
            </div>
          </div>
        </form>
      </div>
    </div>

    <h3>this week </h3>
    <app-calendar-item *ngFor="let item of calendarList" ></app-calendar-item>


  </div>
</div>
