<form [formGroup]="frmGroup">

  <mat-toolbar>

    <button mat-button type="button" (click)="cancel()">
      <mat-icon>close</mat-icon>
    </button>
    <span class="example-spacer"></span>

    <button mat-button type="button" *ngIf="editing" (click)="update()"
            [disabled]="!frmGroup.valid">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-raised-button type="button" color="primary" *ngIf="!editing" (click)="create()"
            [disabled]="!frmGroup.valid"> Save
    </button>
    <button mat-icon-button type="button" [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item (click)="delete()">
      Löschen
    </button>
  </mat-menu>


  <div fxLayout style="margin: 20px;" fxLayout.xs="column">
    <div fxFlex.lt-md="20%" fxFlex.md-xs="33%" class="one">

    </div>
    <div fxFlex="66%" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-card>
        <mat-card-content>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Calendarid" formControlName="calendarid"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Personid" formControlName="personid"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Created" formControlName="created"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Mutated" formControlName="mutated"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Calfrom" formControlName="calfrom"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Calto" formControlName="calto"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Caltype" formControlName="caltype"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Description" formControlName="description"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Allday" formControlName="allDay"></mat-form-field></div></div>
          <div><div fxLayout="row" fxLayoutGap="20px"><mat-form-field fxFlex><input matInput type="number" placeholder="Space" formControlName="space"></mat-form-field></div></div>

        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.lt-md="10%"></div>

  </div>
</form>
