<mat-form-field class="search-form">
  <input matInput placeholder="Search" type="text">
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br>

<div fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
      <app-activity-item *ngFor="let item of activitylist" [item]="item "(onRefresh)="refresh()"></app-activity-item>
</div>
<span class="done">
  <button mat-fab>
    <mat-icon>add circle</mat-icon>
  </button>
</span>
</div>
