<mat-toolbar>
  <br>
  <span class="example-spacer"></span>
    <mat-form-field>
      <mat-icon>search</mat-icon>
    <input matInput class="mat-h2" type="text" placeholder="Search">
  </mat-form-field>
</mat-toolbar>
<br>

<div fxLayout fxLayout.xs="column">
  <div fxFlex.lt-md="10%" fxFlex.md-xs="33%">
  </div>
  <div fxFlex="66%" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

    <div fxLayout fxLayout="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="space-around stretch">
      <app-activity-item *ngFor="let item of activitylist" [item]="item " (onRefresh)="refresh()"></app-activity-item>
    </div>

  </div>
  <div fxFlex></div>

</div>
  <span class="done">
  <button mat-fab [routerLink]="['/activity','new']">
    <mat-icon>add circle</mat-icon>
  </button>
</span>
