 <mat-toolbar>
    <mat-form-field>
      <mat-placeholder><mat-icon>search</mat-icon>Search</mat-placeholder>
    </mat-form-field>
    <input type="search" matInput placeholder="Search"> 
  </mat-toolbar>


<div fxLayout="column" fxFlex fxLayoutAlign="space-between stretch" fxLayoutGap="10px"
       fxLayoutGap.xs="2px">
      <app-activity-item *ngFor="let item of activitylist" [item]="item "(onRefresh)="refresh()"></app-activity-item>
</div>
<span class="done">
  <button mat-fab>
    <mat-icon>add circle</mat-icon>
  </button>
</span>
