@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}


mat-toolbar-row {
  justify-content: space-around;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

