@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f2f2f2;
}

mat-toolbar-row {
  justify-content: space-around;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
